.calculator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem 0 2rem 0;
}

.parsing-error {
  margin: 0;
  color: rgb(209, 10, 10)
}

.talent-tree-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.points-spent-counter {
  padding: 1rem;
  width: 180px;
  height: 60px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #111416;
  font-size: 1.5rem;
  margin: auto 4rem auto 5rem;
}

.points-spent-counter p {
  margin: 0;
  line-height: 1.8rem;
}

.points-spent-counter p:last-of-type {
  color: #435c79;
}

@media (max-width: 860px) {
  .calculator-container  {
    flex-direction: column;
    padding: 2rem 0;
  }
  .talent-tree-container {
    flex-direction: row;
    width: 100%;
    order: 1;
    justify-content: center;
  }
  .points-spent-counter {
    order: 0;
    margin: auto;
  }
}